.especificacoes_tela {
    margin-top: 3vh;

    button.close {
        right: 20px;
        position: absolute;
        top: 10px;
        padding: 0;
        min-width: auto;
    }
    .title {
        font-weight: bold;
        text-align: center;
        width: 60%;
        margin: auto;
        font-size: 1.1em;   
    }

    .produto {
        margin-top: 35px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        .row {
            margin: 0;

            .image {
                text-align: center;
                img {
                    box-shadow: 3px 3px 5px #aaa;
                }
            }

            .info {
                padding-left: 0;
                .name {
                    font-size: 0.8em;
                    font-weight: bold;
                }
        
                .value {
                    position: absolute;
                    bottom: 0px;
                    .description {
                        font-size: 0.8em;
                        color: #666;
                    }
        
                    .price {
                        font-size: 1.4em;
                        font-weight: bolder;
                    }

                    button.acesso_site {
                        padding-left: 0;
                        line-height: unset;
                        margin-top: 8px;
                        mat-icon {
                            height: 20px;
                            width: 20px;
                            font-size: 20px;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }

    .especificacoes { 
        width: 95%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;

        &_title {
            text-align: center;
            font-size: 0.9em;
            font-weight: bold;
            margin-bottom: 0;
        }

        &_name {
            margin: 0;
        }
        &_value {
            font-weight: bold;
            margin: 0;
            position: absolute;
            right: 5%;
        }
    }       
        
}