<div class="moveis">
    <div class="title">Lista de Móveis</div>
    <div class="subtitle">Clique em um móvel para ver detalhes</div>
    <mat-list>
        <mat-list-item matRipple (click)="openDialog('rack')">
            <img class="image" src="../../../../assets/imgs/moveis/rack/principal.png" height="90px" width="90px" alt="Geladeira Brastemp">
            <div class="name">Martin Rack 1 Porta Basculante 136x39</div>
            <div class="description">Preço</div>
            <div class="price">R$ 689,99</div>
            <mat-icon class="icon">arrow_forward_ios</mat-icon>
        </mat-list-item>
        <mat-divider></mat-divider>
  
    </mat-list>

    <app-voltar></app-voltar>
</div>
