.detalhes {
    margin-top: 1vh;
    
    .title {
        font-weight: bold;
        text-align: center;
        width: 60%;
        margin: auto;
        font-size: 1.1em;   
    }
    
    .subtitle {
        text-align: center;
        width: 75%;
        margin: auto;
        font-size: 0.8em;
        margin-top: 2px;   
        margin-bottom: 2vh; 
        color: #666;  
    }

    .close_container {
        text-align: right;
        position: relative;
        top: -60px;
        button.close {
            padding: 0;
            min-width: 5%;
        }
    }

    .slider_image {
        margin: auto;
        img {
            width: 100%;
        }
    }

    .controlls {
        display: flex;
        justify-content: space-between;
        .touch {
            height: 30px;
            width: 30px;
            font-size: 30px;
        }
    }
    

}
