<div class="comparador">
    <div class="title">Comparador de preços</div>
    <div class="subtitle">Encontre aqui os melhores preços</div>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Geladeira
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
            <mat-list-item matRipple (click)="accessItem('https://www.americanas.com.br/produto/83562601?sellerid=8584116000470&opn=YSMESP&WT.srch=1&epar=bp_pl_00_go_ed_todas_geral_gmv&acc=e789ea56094489dffd798f86ff51c7a9&i=55ef63d86ed24cafb524a208&o=5d38bb2c6c28a3cb503b3ab0&gclid=Cj0KCQiAhs79BRD0ARIsAC6XpaUwTaohmB2PmJiGO93t4rOQDbWgyfxYEQ7OQBNjL4YzrOqLuRT7HK4aAiFEEALw_wcB&voltagem=127V')">
                <img class="image" style="left: 13%; position: absolute;" src="../../../../assets/imgs/eletrodomesticos/geladeira-eletrolux.png" height="90px" width="35px" alt="Geladeira Eletrolux">
                <div class="name">Geladeira/refrigerador Top Freezer 474l Branco (tf56) - Eletrolux</div>
                <div class="description">Lojas Americanas</div>
                <div class="price">R$ 2.899,00</div>
                <mat-icon class="icon">arrow_forward_ios</mat-icon>
            </mat-list-item>
            <mat-list-item matRipple (click)="accessItem('https://www.carrefour.com.br/geladeira-electrolux-frost-free-top-freezer-2-portas-tf56-474-litros-branca-110v-5701953/p')">
                <img style="left: 13%; position: absolute; top: 4px;" class="image" src="../../../../assets/imgs/eletrodomesticos/geladeira-eletrolux.png" height="90px" width="35px" alt="Geladeira Eletrolux">
                <div class="name">Geladeira Electrolux Frost Free Top Freezer 2 Portas TF56 474 Litros Branca 110V - Eletrolux</div>
                <div class="description">Carrefour</div>
                <div class="price">R$ 3.099,00</div>
                <mat-icon class="icon">arrow_forward_ios</mat-icon>
            </mat-list-item>    
        </mat-list>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Fogão
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
            <mat-list-item matRipple (click)="accessItem('https://www.casasbahia.com.br/Eletrodomesticos/Fogoes/Piso5Bocas/fogao-brastemp-5-bocas-bfs5vce-com-mesa-de-vidro-e-turbo-chama-preto-50005138.html?utm_medium=Cpc&utm_source=GP_PLA&IdSku=50005138&idLojista=10037&utm_content=ads&utm_campaign=eldo_smart_fogao&gclid=Cj0KCQiAhs79BRD0ARIsAC6XpaVdrHJCaDJ_9IMpV3eEeJ7k1pwThk05K3ixSBsA3t1qBl2Xrh67jugaAhwFEALw_wcB')">
                <img class="image" src="../../../../assets/imgs/eletrodomesticos/fogao-brastemp.png" height="90px" width="90px" alt="Geladeira Eletrolux">
                <div class="name">Fogão Brastemp 5 Bocas BFS5VCE com Mesa De Vidro e Turbo Chama - Preto - Brastemp</div>
                <div class="description">Casas Bahia</div>
                <div class="price">R$ 2.099,00</div>
                <mat-icon class="icon">arrow_forward_ios</mat-icon>
            </mat-list-item>
            <mat-list-item matRipple (click)="accessItem('https://www.carrefour.com.br/geladeira-electrolux-frost-free-top-freezer-2-portas-tf56-474-litros-branca-110v-5701953/p')">
                <img class="image" src="../../../../assets/imgs/eletrodomesticos/fogao-brastemp.png" height="90px" width="90px" alt="Geladeira Eletrolux">
                <div class="name">Fogão 5 Bocas Mesa de Vidro Brastemp BFS5V Preto Bivolt - Brastemp</div>
                <div class="description">Lojas Americanas</div>
                <div class="price">R$ 2.051,05</div>
                <mat-icon class="icon">arrow_forward_ios</mat-icon>
            </mat-list-item>    
        </mat-list>
      </mat-expansion-panel>

      <app-voltar></app-voltar>
</div>
